body {
  color: white;
  background: url("./bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.msg-box {
  width: 200px;
  height: 200px;
  background-color: lightgreen;
}

.second-msg {
  margin-left: auto;
}

h3{
color: brown;
border-radius: 10px 20px;
