body {
  color: black;

  background: url("./bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.msg-box {
  width: 200px;
  height: 200px;
  background-color: pink;
}

.second-msg {
  margin-left: auto;
}

h3 {
  background-color: palevioletred;
text-align: center;}
}