body {
  color: white;
  background: url("./img.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.msg-box {
  width: 200px;
  height: 200px;
  background-color: rgb(23, 54, 0);
  border-radius: 10%;
  display: flex
  font_size:60px;
}

.second-msg {
  margin-left: auto;
}

p{
  color:green;
  font-weight: bold;
}
h3{
  text-align:right;
  background: yellowgreen;
  font-style: italic;
  
  
}
